.header {
    padding-left: 50px;
    padding-right: 50px;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.09);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.09);

    background-color: white;

    
    align-content: center;
    align-self: center;
}

.unauth {
    
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    
}

.auth {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

.auth button {
    
    background-color: orange;
    color: white;
    border: none;
    width: 100px;
    height: 30px;
    font-size: 17px;

    
    border-radius: 10px;
    border-right: 1px solid white;
}

.auth, .search, .auth-header-links {
    align-content: center;
    align-self: center;
}

.auth input {
    width:  300px;
    border-radius: 10px;
    border: 1px solid rgb(172, 172, 172);
    font-size: 17px;
    margin-right: 5px;
    padding: 5px;
}

.auth-buttons, h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.register, .login {
    background-color: orange;
    color: white;
    border: none;
    width: 150px;
    height: 30px;
    font-size: 17px;
}

.register {
    border-radius: 10px 0 0 10px;
    border-right: 1px solid white;
}

.login {
    border-radius: 0 10px 10px 0;
    border-left: 1px solid white;

}

.register:hover, .login:hover {
    background-color: rgb(255, 185, 55);
}

.books-header, .user-header {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    
}

.books-header:hover, .user-header:hover {
    text-decoration: underline;
}

.books-header {
    margin-right: 10px;
}