.footer {
    background-color: orange;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;   
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;

    padding-left: 50px;
    padding-right: 50px;
}