.book {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    
    border: none;
    border-radius: 7px;
    
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.09);
    box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.09);
    
    padding: 10px;
    margin: 25px;
    
    align-items: center;
    /* align-content: center; */
    /* align-self: center; */
}

.book img {
    width: 250px;
    margin-right: 10px;
}

.book .author {
    margin-bottom: 100px;
}

.book button {
    border-radius: 7px;
    background-color: orange;
    color: white;
    border: none;
    width: 150px;
    height: 30px;
    font-size: 17px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.book .borrow-unavailable-btn {
    border: 1px solid orange;
    background-color: white;
    color: orange;
    cursor: not-allowed;
    margin-left: 10px;
}