.individual-book {
    display: grid;
    grid-template-columns: 30% 60%;
    justify-content: space-evenly;
        
    padding: 10px;
    margin: 25px;
    
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

.individual-book img {
    width: 400px;
    margin-right: 10px;
}

.book .author {
    margin-bottom: 100px;
}

.individual-book button {
    border-radius: 5px;
    background-color: orange;
    color: white;
    border: none;
    width: 150px;
    height: 30px;
    font-size: 17px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.individual-book .borrow-unavailable-btn {
    border: 1px solid orange;
    background-color: white;
    color: orange;
    cursor: not-allowed;
    margin-left: 10px;
}