.home-page-layout {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-evenly;

    margin-top: 50px;
    margin-bottom: 50px;

    margin-left: 200px;
    margin-right: 200px;

    align-content: center;
    align-items: center;
}

img {
    width: 60%;
}

.call-to-action-text {
    margin-bottom: 50px;
    margin-top: 50px;
}

.call-to-action-button {
    border-radius: 7px;
    background-color: orange;
    color: white;
    border: none;
    width: 250px;
    height: 40px;
    font-size: 17px;
}

.call-to-action-button:hover {
    background-color: rgb(255, 185, 55);
}